GITHUB_TOKEN=

# SEO Configuration
NEXT_PUBLIC_URL=https://henrymeyer.de
NEXT_PUBLIC_SUBSITE_URL=


# Contact page
CONTACT_EMAIL_1=contact+general@example.com
CONTACT_EMAIL_2=contact+projects@example.com
CONTACT_EMAIL_3=contact+security@example.com

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
